<!DOCTYPE html>
<html lang="en">

    <head>
        <title>MyLocale</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/ionicons.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Footer-Basic.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Login-Form-Clean.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Profile.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Social-Icons.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;500;700&family=Patrick+Hand&display=swap" rel="stylesheet">
    </head>

    <body>
        {% if current_user.is_authenticated %}
            {% include 'navbar.html' %}
        {% endif %}

        <div class="form-wrapper">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">x</button>
                {{ message }}
            </div>
            {% endfor %}
        </div>

        {% block content %}
        {% endblock %}

        <footer class="text-right footer-basic">
            <h6>Attributions</h6>
            <a href="https://www.freepik.com/vectors/dog">Dog vector created by freepik - www.freepik.com</a>
        </footer>

        <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
        <script src="{{  url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>    
    </body>
</html>