{% extends "base.html" %}

{% block content %}

<h2>My groups</h2>
<table>
    <thead>
        <th>Group Name</th>
        <th>Postcode</th>
        <th>Location</th>
    </thead>
    {% for group in groups %}
    <tr>
        <td>{{ group.groups_name }}</td>
        <!-- <td>{{ group.locations_postcode }}</td>
        <td>{{ group.locations_suburb }}, {{ group.locations_state }}</td> -->
    </tr>
    {% endfor %}
</table>

<h2>Group recommendations</h2>

<a href="{{ url_for('groups.create_group') }}">Create new group</a>
<a href="#">Search group</a>
{% endblock %}