{% extends "base.html" %}

{% block content %}

<h2>My groups</h2>
<table>
    <thead>
        <th>Group Name</th>
        <th>Postcode</th>
        <th>Location</th>
    </thead>
    {% for group in groups %}
    <tr>
        <td><a href="{{ url_for('groups.group_details', id=group.id, name=group.name, desc=group.description, suburb=group.suburb, state=group.state) }}">{{ group.name }}</a></td>
        <td>{{ group.postcode }}</td>
        <td>{{ group.suburb }}, {{ group.state }}</td>
        {% if group.admin %}
        <td>
            <a href="{{ url_for('groups.update_group', id=group.id)}}">update</a>
            <a href="#">delete</a>
        {% elif not group.admin %}
            <a href="#">unjoin</a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

<h2>Group recommendations</h2>
{{ non_member }}
{{ locations }}
<table>
    <thead>
        <th>Group Name</th>
        <th>Postcode</th>
        <th>Location</th>
    </thead>
    {% for group in recommendations %}
    {% if group %}
    <tr>
        <td>{{ group.name }}</td>
        <td>{{ group.postcode }}</td>
        <td>{{ group.suburb }}, {{ group.state }}</td>
        <td>
            <a href="#">join</a>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>


<a href="{{ url_for('groups.create_group') }}">Create new group</a>
<a href="#">Search group</a>
{% endblock %}