{% extends "base.html" %}
{% block content %}

{% if groups %}
<div class="profile-location">
    <h3>My Groups</h3>
    <div class="table-responsive location-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Group</th>
                    <th>Postcode</th>
                    <th>Location</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                <tr>
                    <td><a href="{{ url_for('groups.group_details', id=group.id) }}">{{ group.name }}</a></td>
                    <td>{{ group.postcode }}</td>
                    <td>{{ group.suburb }}, {{ group.state }}</td>
                    {% if group.admin %}
                    <td class="actions">
                        <div class="dropdown"><button class="btn btn-light dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button">Actions&nbsp;</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('groups.update_group', id=group.id)}}">Update</a>
                                <form method="POST" action="{{ url_for('groups.delete_group', id=group.id) }}">
                                    {{ form3.csrf_token }}
                                    {{ form3.submit(class="btn btn-primary table-delete") }}
                                </form>            
                            </div>
                        </div>
                    </td>
                    {% elif not group.admin %}
                    <td class="actions">
                        <form method="POST" action="{{ url_for('groups.unjoin_group', id=group.id) }}">
                            {{ form2.csrf_token }}
                            {{ form2.submit(class="btn btn-primary") }}
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

<div class="profile-location">
    <h3>Recommendations</h3>
    <div class="table-responsive location-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Group</th>
                    <th>Postcode</th>
                    <th>Location</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for group in recommendations %}
            {% if group %}            
                <tr>
                    <td>{{ group.name }}</td>
                    <td>{{ group.postcode }}</td>
                    <td>{{ group.suburb }}, {{ group.state }}</td>
                    <td class="actions">
                        <form method="POST" action="{{ url_for('groups.join_group', id=group.id) }}">
                            {{ form.csrf_token }}
                            {{ form.submit(class="btn btn-primary") }}
                        </form>                
                    </td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="group-options">
        <a class="btn btn-primary options-button" role="button" href="{{ url_for('groups.create_group') }}">Create New Group</a>
        <a class="btn btn-primary options-button" role="button" href="{{ url_for('groups.search_group') }}">Search Group</a>
    </div>
</div>

{% endblock %}