{% extends "base.html" %}
{% block content %}
<div class="add-name">
    <form class="form-horizontal" method="POST" action="{{ url_for('groups.update_group_location', id=id) }}">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.postcode.label(class="col-sm-2") }}
            <div class="col-sm-10">
                {{ form.postcode(class="form-control") }}
                {{ form.submit(class="btn btn-primary add-name") }}
            </div>
        </div>
    </form>
</div>
{% if data %}
<div >
    <div class="table-responsive location-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Postcode</th>
                    <th>Suburb</th>
                    <th>State</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for location in data %}
                <tr>
                    <td>{{ location["postcode"] }}</td>
                    <td>{{ location["name"] }}</td>
                    <td>{{ location["state"]["abbreviation"] }}</td>
                    <td>
                        <form method="POST" action="{{ url_for('groups.update_location', id=id, postcode=location['postcode'], suburb=location['name'], state=location['state']['abbreviation']) }}">
                            {{ form2.csrf_token }}
                            {{ form2.submit(class="btn btn-primary add-location") }}
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}