{% extends "base.html" %}

{% block content %}
<h1>Group: {{ group_name }}</h1>
<h2>Location: {{ group_location }}</h2>
<p>{{ group_description }}</p>

<h2>Posts</h2>
{% if data %}
<table>
    <thead>
        <th>img</th>
        <th>post</th>
        <th>comments</th>
    </thead>
    <tbody>
        {% for item in data %}
        <tr>
            <td>
                {% if not item[1] %}
                <img src="{{ url_for('static', filename='default.png') }}" width="200" height="200"/>
                {% else %}
                <img src="{{ item[1] }}" width="200" height="200"/>
                {% endif %}
                {{ item[0].name }}
            </td>
            <td>{{ item[0].post }}</td>
            <td>
            {% if item[2] %}
                {% for comment in item[2] %}
                <li>
                    {% if not comment[1] %}
                    <img src="{{ url_for('static', filename='default.png') }}" width="30" height="30"/>
                    {% else %}                
                    <img src="{{ comment[1] }}" width="30" height="30"/>
                    {{ comment[0].name }}
                    {% endif %}
                    {{ comment[0].comment }}
                </li>
                {% endfor %}
            {% endif %}
            <a href="{{ url_for('posts.post_comment', id=item[0].id) }}">Add Comment</a>
            </td>
            <td>
                <a href="#">Update Post</a>
                <a href="#">Remove</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
</table>
{% endif %}


{% endblock %}