{% extends "base.html" %}
{% block content %}

<h1>Change Group Location</h1>
<form method="POST" action="{{ url_for('groups.update_group_location', id=id) }}">
    {{ form.csrf_token }}

    <fieldset class="form-field">
        {{ form.postcode.label }}
        {{ form.postcode() }}
    </fieldset>

    {{ form.submit }}
</form>

{% if data %}
    <table>
        <thead>
            <th>Postcode</th>
            <th>Suburb</th>
            <th>State</th>
            <th></th>
        </thead>
        {% for location in data %}
        <tr>
            <td>{{ location["postcode"] }}</td>
            <td>{{ location["name"] }}</td>
            <td>{{ location["state"]["abbreviation"] }}</td>
            <td>
                <button>
                    <form method="POST" action="{{ url_for('groups.update_location', id=id, postcode=location['postcode'], suburb=location['name'], state=location['state']['abbreviation']) }}">
                        {{ form2.csrf_token }}
                        {{ form2.submit }}
                    </form>
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock %}