{% extends "base.html" %}

{% block content %}
{% if not profile %}
<form method="POST" action="{{ url_for('profile.profile_page') }}" >
    {{ form.csrf_token }}

    <fieldset class="form-field">
        {{ form.profile_name.label }}
        {{ form.profile_name() }}
    </fieldset>

    {{ form.submit }}
</form>
{% endif %}

<h1>{{ profile.name }}</h1>

{% if not image %}
    <a href="{{ url_for('profile.profile_image') }}"><img src="{{ url_for('static', filename='default.png') }}" /></a>
{% elif image %}
    <a href="{{ url_for('profile.profile_image') }}"><img src="{{ image }}" /></a>
{% endif %}

<h2>Locations</h2>
<a href="{{ url_for('profile.profile_locations') }}">Add Location</a>
{% endblock %}