{% extends "base.html" %}

{% block content %}

<h1>{{ profile.name }}</h1>

{% if not image %}
    <a href="{{ url_for('profile.profile_image') }}"><img src="{{ url_for('static', filename='default.png') }}" /></a>
{% elif image %}
    <a href="{{ url_for('profile.profile_image') }}"><img src="{{ image }}" /></a>
{% endif %}

<h2>Neighbourhoods</h2>
{% if locations %}
<table>
    <thead>
        <th>Postcode</th>
        <th>Suburb</th>
        <th>State</th>
    </thead>
    {% for location in locations %} 
    <tr>
        <td>{{ location.postcode }}</td>
        <td>{{ location.suburb }}</td>
        <td>{{ location.state }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<a href="{{ url_for('profile.profile_locations') }}">Add Location</a>
{% endblock %}