{% extends "base.html" %}

{% block content %}
<div class="add-name">
    <form class="form-horizontal" method="POST" action="{{ url_for('profile.profile_name') }}" >
        {{ form.csrf_token }}
        <div class="form-group"><label class="col-sm-2">Enter your name</label>
            <div class="col-sm-10">
                {{ form.profile_name(class="form-control") }}
                {{ form.submit(class="btn btn-primary add-name") }}
            </div>
        </div>
    </form>
</div>

{% endblock %}