{% extends "base.html" %}

{% block content %}
<div class="add-name">
    <form class="form-horizontal" method="POST", action="{{ url_for('groups.update_group', id=id, location=location) }}">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.group_name.label(class="col-sm-2") }}
            <div class="col-sm-10">
                {{ form.group_name(class="form-control") }}
            </div>
            {{ form.group_description.label(class="col-sm-2") }}
            <div class="col-sm-10">
                {{ form.group_description(class="form-control") }}
                {{ form.submit(class="btn btn-primary gp-update") }}
            </div>
        </div>
    </form>
</div>
<div class="update-location">
    <p>{{ location.suburb }}, {{ location.state }}</p><a class="btn btn-primary gp-update" role="button" href="{{ url_for('groups.update_group_location', id=id) }}">Change</a>
</div>
{% endblock %}
