{% extends "base.html" %}

{% block content %}
<h2>Update Group</h2>
<h3>Location: {{ location.suburb }}, {{ location.state }}</h3>
<button><a href="{{ url_for('groups.update_group_location', id=id) }}">Change location</a></button>
    <form method="POST", action="{{ url_for('groups.update_group', id=id, location=location) }}">
        {{ form.csrf_token }}

        <fieldset class="form-field">
            {{ form.group_name.label }}
            {{ form.group_name() }}
        </fieldset>
        <fieldset class="form-field">
            {{ form.group_description.label }}
            {{ form.group_description() }}
        </fieldset>
            {{ form.submit }}
    </form>
{% endblock %}